<div class="row">
    <div class="col-md-4">

        <%= link_to posts_path, class: 'btn btn-dark mb-3' do %>
        <i class='fas fa-arrow-left'> </i>
        <% end %>

        <div class="card-header">
                <h6 class="card-title mb-0">New Post</h6>
        </div>
        <div class="card">
            <div class="card-body">
                <%# <h1 class='card-title'>New Post</h1> %>
                <%= render 'form', post: @post %>
            </div>
        </div>

    </div>
</div>


