.authors{

    

    .paragraph{
        transition: background-color 0.5s ease;
        &:hover{
            background-color: #c7c7c7;
            cursor: pointer;
        }
    }

    .image {
        text-align: center;
        img{
            max-width: 80%;
        }
    }

    

    .post-card{
        transition: background-color 0.5s ease;
        &:hover{
            background-color: #c7c7c7;
            cursor: pointer;
        }
        .header-img{
            width: 100%;
            height: 120px;
            background-size: cover;
            background-position: center;
        }
    }

    .delete-btn{
        position: absolute;
        right: calc(10% + 38px);
        opacity: 0.7;
        &:hover{
            opacity: 2;
        } 
    }

    #elements{
        list-style: none;
        padding-left: 0;
    }

    
}
